.size1 {
    height: 400x;
    width: 500px;
}

.size2 {
    height: 250px;
    width: 250px;
}

.top, .header, .headerlinks {
background-color: greenyellow;
}

.header, .headerlinks {
    display: flex;
}