.size1 {
    height: 400x;
    width: 500px;
}

.size2 {
    height: 250px;
    width: 250px;
}

.top, .headername, .headerlinks {
background-color: greenyellow;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}