.size1 {
    height: 250px;
    width: 400px;
    padding-right: 200px;
    padding-left: 25px;
}

.size2 {
    height: 150px;
    width: 150px;
}

.top, .header {
background-color: rgba(223, 230, 5, 0.602);
}

.headername {
    font-weight: 900;
    color: rgb(22, 210, 178);
    padding-left: 200px;
    padding-right: 62px;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
    
}

.headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin: 0px;
    gap:10px;
    list-style: none;
    font-weight: 300;
    color: rgba(0, 140, 255, 0.608);
    padding-right: 200px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.toptext {
    flex-direction: column;
    color: rgba(0, 140, 255, 0.608);
    padding-left: 100px;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(22, 210, 178);
    text-align: center;
    text-decoration: none;
    margin-left: 100px;
    color: rgba(0, 140, 255, 0.608);
}

.bold {
padding-left: 90px;
}
